*

!.config/
!.zshrc
!.p10k.zsh

!.config/ghostty/
!.config/ghostty/*

!.config/nvim/
!.config/nvim/*
.config/nvim/tags
.config/nvim/lazy-lock.json
.config/nvim/spell/
.config/nvim/.luarc.json

!.config/hypr/
!.config/hypr/*

!.config/waybar/
!.config/waybar/*

!.config/wofi/
!.config/wofi/*
