*

!.config/
!.zshrc
!.p10k.zsh

!.config/ghostty/
!.config/ghostty/*

!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/custom/
!.config/nvim/lua/custom/*
!.config/nvim/lua/kickstart/
!.config/nvim/lua/kickstart/*
!.config/nvim/lua/kickstart/plugins/
!.config/nvim/lua/kickstart/plugins/*
.config/nvim/tags
.config/nvim/lazy-lock.json
.config/nvim/spell/
.config/nvim/.luarc.json

!.config/hypr/
!.config/hypr/*

!.config/waybar/
!.config/waybar/*

!.config/wofi/
!.config/wofi/*
